nav {
  background-color: #fff;
  overflow:hidden;
  height: 20px;
}
          
.active:after {
  color: #f00102;
}
          
.active {
  color: #f01122;
  text-decoration: none;
}
          
.nav-link {
  text-decoration: none;
  padding: 20px;
}
          
a {
  color: black;
}
