.navigation {
  overflow:hidden;
  height: 20px;
}

ul {
  list-style: none;
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.item {
  width: 100%;
  width-margin: 10px;
}

/*
.item .active:after {
  color: #f00102;
}
          
.item .active {
  color: #f01122;
}

.item {
  color: black;
  text-decoration: none;
}          

.nav-link {
  text-decoration: none;
  padding: 20px;
}
*/
          
a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.active > a {
  color: #f01122;
}
